<% for(var i=0; i<usage.length; i++) { %>
  <table class="usage-table">
    <tr>
      <td>
       <%= note.project %>:<%= usage[i]['project_name'] %>
      </td>
      <td>
       <%= note.projectId %>:<%= usage[i]['tenant_id'] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= note.cpuTotal %>: <%= usage[i]['cpuUsage'] %>
      </td>
      <td>
        <%= note.memUsage %>: <%= usage[i]['memUsage'] %>
      </td>
      <td>
        <%= note.diskUsage %>: <%= usage[i]['diskUsage'] %>
      </td>
      <td>
        <%= note.totalUsage %>: <%= usage[i]['totalHours'] %>
      </td>
    </tr>
    <tr>
      <td><%= note.instanceName %></td>
      <td>CPU</td>
      <td><%= note.ramGB %></td>
      <td><%= note.diskGB %></td>
      <td><%= note.upTime %></td>
    </tr>
    <% for (var j=0; j<usage[i]['server_usages'].length; j++) { %>
    <tr>
      <td><%= usage[i]['server_usages'][j]['name'] %></td>
      <td><%= usage[i]['server_usages'][j]['vcpus'] %></td>
      <td><%= usage[i]['server_usages'][j]['memory_mb'] %></td>
      <td><%= usage[i]['server_usages'][j]['local_gb'] %></td>
      <td><%= usage[i]['server_usages'][j]['hours'] %></td>
    </tr>
    <% } %>

  </table>
  <br/>
<% } %>
